


<div class="panel panel-primary">
                        <div class="panel-heading">
                            Logout panel
							<button  class="btn btn-default" ng-click="refresh()">Refresh</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" >
									

<div class="form-group" ng-show="loginstatus.loggedin">
                                            <label>You are logged in</label>
                                            
    </div>
    
	<div class="form-group" >
	
	<button  class="btn btn-default" ng-click="logout()">Confirm logout</button>
</div>

	 
</div>
<div class="col-lg-6">
</div>
</div>
</div>	
</div>
	

