<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="record in $data">
        <td title="'Issuer'" filter="{ name: 'text'}" sortable="'issuer'">
            {{record.issuer}}</td>
        <td title="'Amount'" filter="{ amount: 'number'}" sortable="'amount'">
            {{record.amount}}</td>
		
		<td title="'Discounter'" filter="{ discounter: 'text'}" sortable="'discounter'">
            {{record.discounter}}</td>
		<td><button  class="btn btn-default" ng-click="listowners()">View details </button> </td>
    </tr>
</table>