


<div class="panel panel-primary">
                        <div class="panel-heading">
                            Create new cheque discounter
							<button  class="btn btn-default" ng-click="refresh()">Refresh</button>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" ng-submit="submit()">
    
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Discounter name</label>
                                            <select  class="form-control" ng-model="discounter.username" ng-init="discounter.username = discounters[0]._id"  ng-options="x._id for x in discounters">
                                            </select>
											
											</div>
											<div class="panel-body ">
											
											{{discounter.username}}
											</div>
											
											
											
    </div>
										
	<div class="form-group">
                                            <label>Residential Address</label>
                                            <textarea class="form-control" rows="3" ng-model="discounter.resaddress"></textarea>
    </div>
	
	<div class="form-group">
                                            <label>Upload aggrement </label>
                                            <textarea class="form-control" rows="3" ng-model="discounter.aggrement"></textarea>
    </div>
	<div class="form-group">
                                            <label>Upload collateral </label>
                                            <textarea class="form-control" rows="3" ng-model="discounter.collateral"></textarea>
    </div>
	
	
	
	<div class="form-group">
	<label class="label label-danger" ng-show="error"> {{error}} </label>
	<button  class="btn btn-default" ng-click="submitdiscounter()">Register</button>
</div>
	 
</div>
</div>
</div>	
</div>
	

