<div class="panel panel-primary">
                        <div class="panel-heading">
                            View cheque issuers documents
							<button  class="btn btn-default" ng-click="refreshmarket()">Refresh Market</button>
                        </div>
                        <div class="panel-body">
<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="record in $data">
        <td title="'Issuer'" filter="{ name: 'text'}" sortable="'issuer'">
            {{record.issuer}}</td>
        
		<td title="'Rating'" filter="{ issuerrating: 'number'}" sortable="'issuerrating'">
            {{record.issuerrating}}</td>
		
		<td > <button  class="btn btn-default" ng-click="listowners()">View documents </button></td>
    </tr>
</table>

</div>
</div>
