<div class="panel panel-primary">
                        <div class="panel-heading">
                            History
							<button  class="btn btn-default" data-toggle="modal" data-target="#myModalreceiverhistory" >Select cheque receiver  </button>
                        </div>
                        <div class="panel-body">
<table ng-table="tableParams" class="table" show-filter="true">
    <tr ng-repeat="record in $data">
        <td title="'Receiver'" filter="{ name: 'text'}" sortable="'receiver'">
            {{record.receiver}}</td>
        <td title="'Amount'" filter="{ amount: 'number'}" sortable="'amount'">
            {{record.amount}}</td>
		
		<td title="'Discounter'" filter="{ discounter: 'text'}" sortable="'discounter'">
            {{record.discounter}}</td>
		<td><button  class="btn btn-default" ng-click="listowners()">View details </button> </td>
    </tr>
</table>

</div>
</div>


	
	  <!-- Modal -->
  <div class="modal fade" id="myModalreceiverhistory" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cheque receiver selection screen </h4>
        </div>
        <div class="modal-body">
          <div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Select receiver </label>
                                            <select  class="form-control" ng-model="receiver.username" ng-init="receiver.username = receivers[0]._id"  ng-options="x._id for x in receivers">
                                            </select>
											
											</div>
											<div class="panel-body ">
											
											{{receiver.username._id}}
											</div>
											
											
											
    </div>
	
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
        </div>
      </div>
      
    </div>
  </div>	

  

