


<div class="panel panel-primary">
                        <div class="panel-heading">
                            End user entry
						</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" >
    <div class="row">
                                <div class="col-lg-6">
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Select user</label>
                                            <select  class="form-control" ng-model="enduser.endusername" ng-init="enduser.endusername = endusers[0]"  ng-options="x for x in endusers">
                                            </select>
											</div>
					
	 </div>
	 
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Needs of user</label>
                                            <select  class="form-control" ng-model="enduser.enduserneed.groupname" ng-init="enduser.enduserneed.groupname = enduserneeds[0]"  ng-options="x for x in enduserneeds">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="addenduserneed()">Add</button>
											</div>
											<div class="panel-body ">
											<label>Identified needs </label>
											<textarea class="form-control" rows="3" ng-model="enduser.enduserneed.dislist"></textarea>
											</div>
											
											
											
    </div>
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Goals of user</label>
                                            <select  class="form-control" ng-model="enduser.endusergoal.groupname" ng-init="enduser.endusergoal.groupname = endusergoals[0]"  ng-options="x for x in endusergoals">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="addendusergoal()">Add</button>
											</div>
											<div class="panel-body ">
											<label>Identified goals </label>
											<textarea class="form-control" rows="3" ng-model="enduser.endusergoal.dislist"></textarea>
											</div>
											
											
											
    </div>
	
	<div class="form-group">
                                            <label>Describe how your goal can be achieved </label>
                                            <textarea class="form-control" rows="3" ng-model="enduser.howachieving"></textarea>
    </div>
	
	<div class="form-group">
                                            <label>Describe how banks, institutions can help you </label>
                                            <textarea class="form-control" rows="3" ng-model="enduser.howcanbehelped"></textarea>
    </div>
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>How your goal is useful to others </label>
                                            										
											<select  class="form-control" ng-model="enduser.enduserbenifttoother.groupname" ng-init="enduser.enduserbenifttoother.groupname = enduserbenifttoothers[0]"  ng-options="x for x in enduserbenifttoothers">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="addenduserbenifttoother()">Add</button>
											</div>
											<div class="panel-body ">
											<label>Benefit to others </label>
											<textarea class="form-control" rows="3" ng-model="enduser.enduserbenifttoother.dislist"></textarea>
											</div>
											
											
											
    </div>
	
	
	
	
	<!--div class="form-group panel panel-primary">
	
											
											<div class="panel-heading ">
                                            <label>Useful policy for user</label>
                                            <select  class="form-control" ng-model="enduser.userfulenduserpolicy.groupname" ng-init="enduser.userfulenduserpolicy.groupname = userfulenduserpolicys[0]"  ng-options="x for x in userfulenduserpolicys">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="adduserfulenduserpolicys()">Add</button>
											</div>
											<div class="panel-body ">
											<label>Selected useful policies </label>
											<textarea class="form-control" rows="3" ng-model="enduser.userfulenduserpolicy.dislist"></textarea>
											</div>
											
											
											
    </div -->
	
	
	
	
	
	
	
	
	
	
	
	
	</div>
	<div class="col-lg-6">
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Available Incentive</label>
											<ul>
                                            <li   ng-repeat="x in incentiveavailable">
											{{x}}
                                            </li>
											</ul>
											</div>
											<div class="panel-body ">
											<label>Incentive parameters</label>
											<ul>
                                            <li   ng-repeat="x in incentiveparameters">
											{{x}}
                                            </li>
											</ul>
											
											
											</div>
    </div>
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Applicable DisIncentive</label>
											<ul>
                                            <li   ng-repeat="x in disincentiveparameters">
											{{x}}
                                            </li>
											</ul>
											</div>
											
    </div>
	
	
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label> Rating considered  </label>
											<ul>
                                            <li   ng-repeat="x in ratingparameters">
											{{x}}
                                            </li>
											</ul>
											
    </div>
	
	
	
	</div>
	
	
	 
</div>
    <div class="form-group">
	<label class="label label-danger" ng-show="error">{{error}} </label>
	<button  class="btn btn-primary form-control" ng-click="endusercreate()">Submit</button>
	</div>
</div>
</div>	
</div>
	

