


<div class="panel panel-primary">
                        <div class="panel-heading">
                            End user entry
						</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" >
    <div class="row">
                                <div class="col-lg-6">
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Select user</label>
                                            <select  class="form-control" ng-model="enduser.endusername" ng-init="enduser.endusername = endusers[0]"  ng-options="x for x in endusers">
                                            </select>
											</div>
					
	 </div>
	 
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Needs of user</label>
                                            <select  class="form-control" ng-model="enduser.enduserneed.groupname" ng-init="enduser.enduserneed.groupname = enduserneeds[0]"  ng-options="x for x in enduserneeds">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="addenduserneed()">Add</button>
											</div>
											<div class="panel-body ">
											<label>Identified needs </label>
											<textarea class="form-control" rows="3" ng-model="enduser.enduserneed.dislist"></textarea>
											</div>
											
											
											
    </div>
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Goals of user</label>
                                            <select  class="form-control" ng-model="enduser.endusergoal.groupname" ng-init="enduser.endusergoal.groupname = endusergoals[0]"  ng-options="x for x in endusergoals">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="addendusergoal()">Add</button>
											</div>
											<div class="panel-body ">
											<label>Identified goals </label>
											<textarea class="form-control" rows="3" ng-model="enduser.endusergoal.dislist"></textarea>
											</div>
											
											
											
    </div>
	
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Useful policy for user</label>
                                            <select  class="form-control" ng-model="enduser.enduserpolicy" ng-init="enduser.enduserpolicy = policygroups[0]"  ng-options="x for x in policygroups">
                                            </select>
											<button  class="btn btn-default form-control" ng-click="userapplypolicy(enduser.endusername, enduser.enduserpolicy)">Add</button>
											</div>
											
											
											
    </div>
	
	
	
	
	<div class="form-group">
                                            <label>Describe how your goal can be achieved </label>
                                            <textarea class="form-control" rows="3" ng-model="enduser.howachieving"></textarea>
    </div>
	
	<div class="form-group">
                                            <label>Describe how banks, institutions can help you </label>
                                            <textarea class="form-control" rows="3" ng-model="enduser.howcanbehelped"></textarea>
    </div>
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>How your goal is useful to others </label>
                                            										
											<select  class="form-control" ng-model="enduser.enduserbenifttoother.groupname" ng-init="enduser.enduserbenifttoother.groupname = enduserbenifttoothers[0]"  ng-options="x for x in enduserbenifttoothers">
                                            </select>
											</div>
											<div class="panel-body ">
											<label>Benefit to others </label>
											<textarea class="form-control" rows="3" ng-model="enduser.enduserbenifttoother.dislist"></textarea>
											</div>
											
											
											
    </div>
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Banks that has contacted you</label>
                                                 
											
											</div>
											<div class="panel-body ">
											<label>List of banks with their links of message, links to apply, terms to follow, feedback about banks and feedback about individualE </label>
											<textarea class="form-control" rows="3" ng-model="enduser.contactedby"></textarea>
											</div>
										
										
    </div>

	
	
	
	<div class="form-group panel panel-primary">
	
											<div class="panel-heading ">
                                            <label>Enduser metrics data collection </label>
                                               <select  class="form-control" ng-model="policygroup" ng-init="policygroup = policygroups[0]"  ng-options="x for x in policygroups">
                                            </select>
											</div>
											<div class="panel-body ">
											<label>Enduser to submit data </label>
											<textarea class="form-control" rows="3" ng-model="event.description"></textarea>
										    </div>
										
    </div>
	
	
	</div>
	<div class="col-lg-6">
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Available Incentive</label>
                                            <select  class="form-control" ng-model="policygroup" ng-init="policygroup = policygroups[0]"  ng-options="x for x in policygroups">
                                            </select>
											
											</div>
											<div class="panel-body ">
											<label>Incentive </label>
											<textarea class="form-control" rows="3" ng-model="event.description"></textarea>
											</div>
    </div>
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label>Applicable DisIncentive</label>
                                            <select  class="form-control" ng-model="policygroup" ng-init="policygroup = policygroups[0]"  ng-options="x for x in policygroups">
                                            </select>
											
											</div>
											<div class="panel-body ">
											<label>Dis Incentive </label>
											<textarea class="form-control" rows="3" ng-model="event.description"></textarea>
											</div>
    </div>
	
	
	
	<div class="form-group panel panel-primary">
											<div class="panel-heading ">
                                            <label> Rating needed  </label>
											<select  class="form-control" ng-model="policygroup" ng-init="policygroup = policygroups[0]"  ng-options="x for x in policygroups">
                                            </select>
											
											</div>
											<div class="panel-body ">
											<label>Rating  </label>
											<textarea class="form-control" rows="3" ng-model="event.description"></textarea>
											</div>
    </div>
	
	
	
	</div>
	
	<div class="form-group">
	<label class="label label-danger" ng-show="error">{{error}} </label>
	<button  class="btn btn-primary form-control" ng-click="createevent()">Submit</button>
	</div>
	 
</div>
</div>
</div>	
</div>
	

